<h3 class="text-white">Por Pais</h3>
<hr>
<div class="row">
  <div class="col">
    <shared-search-box placeholder="Buscar por pais" (onValue)="searchValue($event)"></shared-search-box>
  </div>
</div>
<div class="row mt-3">
  <div class="col text-white">
    <div *ngIf="countryByName.length === 0" class="col-12 alert-dark text-white text-center">
      No existen paises con esa busqueda.
    </div>
    
    <countries-country-table [countries]="countryByName"></countries-country-table>
  </div>
</div>

