<h3 class="text-white">Por capital</h3>
<hr />
<div class="row">
  <div class="col">
    <shared-search-box
      placeholder="Buscar por capital"
      (onValue)="searchValue($event)"
    ></shared-search-box>
  </div>
</div>
<div class="row mt-3">
  <div
    *ngIf="countriesByCapital.length === 0; else elseTemplate"
    class="col-12 alert-dark text-white text-center"
  >
    No hay paises con esa capital.
  </div>
  <ng-template #elseTemplate>
    <shared-lazy-search *ngIf="isLoading === true"></shared-lazy-search>
  </ng-template>

  <div class="col text-white">
    <countries-country-table
      [countries]="countriesByCapital"
      *ngIf="!isLoading"
    ></countries-country-table>
  </div>
</div>
